.hot-sauce-app {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.hot-sauce-header {
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: $c-headerFontColor;
  #{&}__image {
    height: 100%;
    margin-right: 10px;
  }
}

.grid-container {
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-rows: repeat(2, minmax(428px, min-content));
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  @include respond(xl-desktop) {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  #{&}__item {
    margin: 10px 20px 30px 20px;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 22px solid $c-border;
    text-align: center;
    transition: box-shadow 300ms ease-in-out;
    &:hover {
      box-shadow: 1px 8px 20px grey;
      .grid-container__product-image {
        animation: shakeBottle 1s cubic-bezier(0.7, 0.19, 0.19, 0.07) both;
      }
    }
  }

  #{&}__product-stage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 250px;
    &--backlight {
      width: 50%;
      height: 50%;
      top: 15%;
      left: 25%;
      z-index: 1;
      background-color: $c-grayHighlight;
      position: absolute;
    }
  }

  #{&}__content {
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    min-height: 140px;
  }

  #{&}__footer {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #{&}__product-image,
  #{&}__arrow {
    align-self: center;
    z-index: 2;
  }

  #{&}__close {
    align-self: flex-end;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

  #{&}__arrow {
    transform: scale(1.2);
    margin-bottom: 20px;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
    }
  }
}

.product-view {
  display: flex;
  height: 76%;
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  #{&}__stage {
    width: 70%;
    background-color: $c-stageBackground;
  }
  #{&}__description {
    width: 30%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #{&}__description,
  #{&}__stage {
    padding: 30px;
  }
  #{&}__home {
    width: 50px;
    img {
      width: 100%;
    }
  }
}

.hot-sauce-footer {
  height: 10%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $c-grayFooter;
}
