/*
***
* GLOBAL APP STYLES
*/

.hot-sauce-app {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  position: relative;
}

/*
***
* SECTION FOR HEADER STYLES
*/

.hot-sauce-header {
  height: 10%;
  @include flexCenter(row, none, center);
  padding-left: 20px;
  color: $c-headerFontColor;
  #{&}__image {
    height: 100%;
    margin-right: 10px;
  }
}

/*
***
* SECTION FOR GRID STYLES
***
* Styles for the grid on home page
***
*/

.grid-container {
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-rows: repeat(2, minmax(428px, min-content));
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  @include respond(xl-desktop) {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  #{&}__item {
    margin: 10px 20px 30px 20px;
    padding: 10px 10px 0 10px;
    @include flexCenter(column, none, none);
    border-bottom: 22px solid $c-cardBorder;
    text-align: center;
    transition: box-shadow 300ms ease-in-out;
    &:hover {
      box-shadow: 1px 8px 20px grey;
      .grid-container__product-image {
        animation: shakeBottle 1s cubic-bezier(0.7, 0.19, 0.19, 0.07) both;
      }
    }
  }

  #{&}__product-stage {
    @include flexCenter(column, none, none);
    position: relative;
    width: 100%;
    height: 250px;
    &--backlight {
      width: 50%;
      height: 50%;
      top: 15%;
      left: 25%;
      z-index: 1;
      background-color: $c-grayBackLight;
      position: absolute;
    }
  }

  #{&}__content {
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    min-height: 140px;
  }

  #{&}__footer {
    height: 40px;
    @include flexCenter(column, center, none);
  }

  #{&}__product-image,
  #{&}__arrow {
    align-self: center;
    z-index: 2;
  }

  #{&}__close {
    align-self: flex-end;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

  #{&}__arrow {
    width: 40px;
    margin-bottom: 20px;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

/*
***
* SECTION FOR PRODUCT VIEW PAGE
*/

.product-view {
  @include flexCenter(column, none, none);
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  @include respond(desktop) {
    height: 76%;
    @include flexCenter(row, none, none);
  }
  #{&}__stage {
    @include flexCenter(column, none, none);
    img {
      width: 100%;
      align-self: center;
      @include respond(desktop) {
        width: 30%;
        max-height: 100%;
        margin-top: 5%;
      }
    }
    width: 100%;
    @include respond(desktop) {
      width: 70%;
    }
  }

  #{&}__description {
    padding: 30px;
    width: 100%;
    background-color: $c-stageBackground;
    @include flexCenter(column, space-between, none);
    @include respond(desktop) {
      width: 30%;
    }
  }
  #{&}__description,
  #{&}__stage {
    padding: 30px;
  }
  #{&}__home {
    width: 50px;
    img {
      width: 100%;
    }
  }
}

/*
***
* SECTION FOR HOME PAGE STYLE
*/

.home-view {
  #{&}__addSauce {
    height: 20%;
    button {
      @include flexCenter(row, center, center);
      right: 60px;
      top: 30px;
      position: absolute;
      width: 200px;
      color: $c-addText;
    }
    p {
      margin-top: 0;
    }
  }
  #{&}__plus {
    width: 40px;
    transition: transform 300ms ease-in-out;
    @include flexCenter(row, center, center);
    cursor: pointer;
    &--rotate {
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}

/*
***
* SECTION FOR FORM STYLE
***
* Styles for the add new sauce form on homepage
***
*/

.add-form {
  position: absolute;
  z-index: 3;
  padding: 20px;
  background-color: $c-formBackground;
  width: 100%;
  @include flexCenter(column, none, none);
  @include respond(tab-port) {
    width: 30%;
    margin-left: 70%;
    top: 10%;
    right: 30px;
  }
  color: $c-formFontColor;
  #{&}__form-control input, textarea {
    height: 40px;
    padding: 5px 8px;
    width: 100%;
    margin-top: 5px;
    background: $c-white;
  }
  #{&}__btn {
    background-color: $c-buttonColor;
    box-shadow: 0px 2px 2px $c-buttonShadow;
    padding: 8px 22px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
  }
}


/*
***
* SECTION FOR NOT FOUND STYLE
*/

.not-found {
  width: 100vw;
  height: 100vh;
  @include flexCenter(column, center, center);
  #{&}__home {
    width: 40px;
    img {
      margin-top: 20px;
      width: 100%;
    }
  }
}

/*
***
* SECTION FOR TEMP FOOTER STYLES
*/

.hot-sauce-footer {
  height: 10%;
  margin-top: 30px;
  @include flexCenter(column, center, center);
  background-color: $c-grayFooter;
}
