.hot-sauce-header {
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  #{&}__image {
    height: 100%;
  }
}

.grid-container {
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  @include respond(xl-desktop) {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  #{&}__item {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
  }

  #{&}__product-image,
  #{&}__arrow {
    align-self: center;
  }

  #{&}__close {
    align-self: flex-end;
  }
}
