* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul,
ul li,
ol li {
  list-style: none;
}

button {
  border: none;
  background: none;
  width: 20px;
}

a {
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}