$green: #0d4028;
$green-accent: #1b8553;
$gray: #d3d8eb;
$blackOpactyLight: rgba(0, 0, 0, 0.2);
$blackOpactyDark: rgba(0, 0, 0, 0.6);
$red: #ff3333;
$errorRed: rgba($red, 0.6);
$white: #fff;

// header
$c-headerFontColor: $red;

// product cards
$c-cardBorder: $green;
$c-grayBackLight: $gray;
$c-stageBackground: $gray;

// form
$c-formBackground: $gray;
$c-formFontColor: $green;
$c-white: $white;
$c-addText: $green-accent;
$c-buttonColor: $blackOpactyLight;
$c-buttonShadow: $blackOpactyDark;
$c-errorColor: $errorRed;

// footer
$c-grayFooter: $gray;
