$green: #0d4028;
$gray: #d3d8eb;
$darkGray: #B3B7C7;
$red: #a60311;
$white: #fff;

$c-headerFontColor: $red;
$c-border: $green;
$c-grayHighlight: $gray;
$c-grayFooter: $gray;
$c-stageBackground: $gray;
$c-grayBorder: $gray;
$c-formFontColor: $green;
$c-grayBackground: $darkGray;
$c-white: $white;
$c-redAdd: $red
