$green: #0d4028;
$green-accent: #1B8553;
$gray: #d3d8eb;
$red: #a60311;
$white: #fff;

// header
$c-headerFontColor: $red;

// product cards
$c-cardBorder: $green;
$c-grayBackLight: $gray;
$c-stageBackground: $gray;

// form
$c-formBackground: $gray;
$c-formFontColor: $green;
$c-white: $white;
$c-addText: $green-accent;

// footer
$c-grayFooter: $gray;
